footer p {
    margin: 24px 45px 0px 45px;
    @include style-p (22px);
    @extend %text-center;
}

.social-media-links li a {
    font-size: 1.142rem;
    color: $black;
    letter-spacing: 0;
    line-height: 28px;
}

footer ul li {
    margin: 0;
    @extend %text-center;
    list-style: none;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 16px 14%;
}
