footer p {
    margin: 24px 45px 0px 45px;
    @include style-p (22px);
    @extend %text-center;
}

.social-media-links li {
    font-size: 16px;
    color: $black;
    letter-spacing: 0;
    line-height: 28px;
    padding: 17px;
}

footer ul {
    padding-left: 0;
    margin: 0;
    @extend %text-center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}