footer p {
    margin: 24px 45px 16px 45px;
    @include style-p (22px);
    text-align: center;
}

.social-media-links {
    display: flex;
    justify-content: center;
    margin: 0 45px 31px 45px;
}

ul li {
    font-size: 16px;
    color: $black;
    letter-spacing: 0;
    line-height: 28px;
}