// Section 1

h1 {
    //(comment: desktop)
    /*font-family: $font-sans;
    font-size: 64px;
    color: $black;
    letter-spacing: 0;
    line-height: 84px;*/
    font-family: $font-sans;
    font-size: 36px;
    font-weight: 400;
    color: $black;
    letter-spacing: 0;
    line-height: 42px;
    padding-right: 30px;
    .line-through {
        text-decoration: line-through;
    }
    .blue-dot {
        color: $blue;
    }
}

.container-1 {
    height: 303px;
    p {
        @include style-p (22px);
        margin-bottom: 36px;
    }
    a {
        @extend %button;
        @extend %button-text;
    }
    .text-desktop {
        display: none;
    }
}

// Section 2

.container-2 {
    margin-top: -20px;
    h2 {
            @include style-title ($white);
            margin-top: 20px;
        }
}

.background {
    position: relative;
    height: 1250px;
    width: 100vw;
    padding-top: 3rem; //hay que arreglar las medidas reales
    //padding-bottom: 20rem;
    background: rgb(0,0,163);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.episodios {
    display: flex;
    flex-direction: column;
}

.episodios iframe {
    height: 232px;
    max-width: 100%;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
}

// Section 3

.container-3 {
    img {
        position: relative;
        height: 519px;
        width: 100%;
        display: block;
        margin: 0 auto;
        //margin-bottom: 27px;
        z-index: 1;
        top: -100px;
    }
    h2 {
        @include style-title ($black);
        margin-top: -70px;
    }
    p {
        @include style-p (22px);
    }
}

// Section 4

.container-4 {
    h2 {
        @include style-title ($black);
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    //margin-left: -16px;
    img {
        height: 243px;
    }
}

// Section 5 mobile and desktop is the same text type

.container-5 {
    h2 {
        @include style-title ($black);
        margin-top: 48px;
    }
    .text-icon {
        font-family: $font-sans;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        letter-spacing: 0;
        text-align: center;
    }
}

.icon-image {
    width: 100%;
    height: 130px;
    display: block;
    margin-top: 50px;
}

// Section 6

.container-6 {
    display: flex;
    flex-direction: column;
    a {
        @extend %button;
        @extend %button-text;
        justify-content: center;
        padding: 13px;
    }
    h2 {
        @include style-title ($white);
        @extend %text-center;
        margin-top: -20px;
    }
}

.second-background {
    height: 341px;
    width: 100%;
    //margin-left: -16px;
    //margin-right: -16px;
    padding-top: 5rem;
    padding-bottom: 12rem;
    background: rgb(0,0,163);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
}