@media screen and (min-width: 960px) {

    section, footer, header {
        margin-left: 100px;
        margin-right: 100px;
    }

    // Header 

    header .flex-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
    }

    header .logo-container {
                width: 36px;
                height: 36px;
                margin-top: 22px;
    }

    .menu {
        input,
        span {
            display: none;
        }
        ul {
            position: static;
            height: auto;
            background: transparent;
            opacity: 1;
            list-style: none;
            margin-top: 26px;
            display: flex;
        }
        a {
            text-decoration: none;
            padding: 25px;
            @include style-p (28px);
        }
    }

    .container-1 .hidden-text {
        display: contents;
    }
}
