@media screen and (min-width: 960px) {

    // section, footer, header {
    //     margin-left: 100px;
    //     margin-right: 100px;
    // }
    h1, h2, p {
        margin-left: 0;
        margin-right: 0;
      }

    // Header 

    header .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header .logo-container {
                width: 36px;
                height: 36px;
                margin-top: 22px;
                margin-left: 100px;
    }

    .menu {
        input,
        span {
            display: none;
        }
        ul {
            position: static;
            height: auto;
            background: transparent;
            opacity: 1;
            list-style: none;
            margin-top: 26px;
            margin-right: 75px;
            display: flex;
        }
        a {
            text-decoration: none;
            padding: 25px;
            @include style-p (28px);
        }
    }

    // Section 1

    .container-1 {
        margin-left: 200px;
        height: 369px;
        .text-desktop {
            display: block;
            padding-right: 52%;
        }
        .text-mobile {
            display: none;
        }
    }

    h1 {
        font-family: $font-sans;
        font-size: 64px;
        color: $black;
        letter-spacing: 0;
        line-height: 84px;
        margin-bottom: -10px;
    }

    #section-1
        p {
            font-size: 16px;
            line-height: 24px;
        }

    .container-1 a {
        margin-left: 0;
        padding: 16px 59px;
        font-size: 18px;
        line-height: 24px;
    }

    // Section 2
    
    #section-2 h2 {
        margin-left: 200px;
    }
    
    .episodios {
        width: calc((100% / 2) - 15px);
    }

    #section-2 .container-episodios {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }

    .episodios iframe {
        width: 100%;
    }


}
