// Fuentes

@mixin style-title ($color) {
    font-family: $font-sans;
    font-size: 2.571rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    color: $color;
} 

@mixin style-p ($line-height) {
    font-family: $font-mono;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: $line-height;
    color: $black;
}

@mixin text-menu ($color) {
    font-family: $font-mono;
    font-size: 1.142rem;
    color: $color;
    letter-spacing: 0;
    line-height: 28px;
}