// Fuentes
$font-mono: 'IBM Plex Mono', monospace;
$font-sans: 'IBM Plex Sans', sans-serif;

// Colores

$black: #060A24;
$white: #FFFFFF;
$aqua: #00F3BB;
$blue: #0000EC;
$light-blue: #0000FF;
$dark-blue: #0000A3;